@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
    background-image:url("./images/code.png");
    background-size: cover;
}


.container{
    width: 80%;
    
    
    margin: auto;
}

/* Header Start*/



header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav .logo a img{ 
    width: 125px; /* Canım Erzurumum*/
    height: 125px;
    
    
}

nav ul{
    list-style: none;
    display: flex;
    column-gap: 50px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    transition: color .32s ease;
    padding: 12px 24px;
    background-color: rgba(15, 15, 15, 0.5);
    border-radius: 59px;

}
nav ul li a:hover {
    color: black;
    background-color: aliceblue;
    transition: all 0.9s ease;

}
nav{
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

nav .menu{
    display: flex;
    align-items: center;
    column-gap: 25px;
    
   
}

.menu-button{
    color: #0ba2c0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 12px 24px;
    border-radius: 59px;
    transition: all .25s ease;
}

.menu-button:hover  {
    color: white;
    text-decoration: none;
    background-color: #0ba2c0;
    padding: 12px 24px;
    border-radius: 59px;
    transition: all 0.4s ease;
}
    
/* Header End*/
/* Section Start*/

.content {
    
   
   
    color: white;
    height: calc(100vh-100px);
    padding-top: 150px;
}

.content h1{
    font-size: 65px;
    text-align: center;
}
.content p{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.content  .links{
    font-size: 65px;
    text-align: center;
}
.content a{
    font-size: 25px;
    justify-content: center;
    margin-top: 20px;
   
}



.content h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 10px;
    background-color: #0ba2c0;
    border-radius: 100px;
    
}
.content h2:hover{
    background-color: rgba(15, 15, 15, 0.5);
    transition: all 0.6s ease;
}

.content .links a {
    background-color: white;
    padding: 20px;
    width: 280px;
    color: black;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    border-radius: 56px;
    transition: all .25s ease-in;
}
.content .links a:hover {
    background-color: #0ba2c0;
    color: white;
}








/* Section End*/


/* Responsive Start */
@media(max-width:576px) {
    .container {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .menu ul{
        column-gap: 20px;

    }
    .menu .menu-button{
        display: none;
    }

}




/*Responsive End */
